/* LINK TO GOOGLE FONTS */

@font-face {
  font-family: "SpaceMono";
  src: url(../assets/fonts/SpaceMono/SpaceMono-Regular.ttf);
  weight: 400;
}

@font-face {
  font-family: "SpaceMono";
  src: url(../assets/fonts/SpaceMono/SpaceMono-Bold.ttf);
  weight: 700;
}

/* CSS RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

/* CSS VARIABLES */
:root {
  /* COLORS */
  --clr-primary: hsl(172, 67%, 45%);
  --clr-800: hsl(183, 100%, 15%);
  --clr-600: hsl(184, 14%, 56%);
  --clr-500: hsl(185, 41%, 84%);
  --clr-200: hsl(189, 41%, 97%);
  --clr-100: hsl(0, 0%, 100%);

  /* FONT FAMILY */
  --ff: "SpaceMono";

  /* FONT SIZES */
  --fs-small: 1rem;
  --fs-medium: 1.125rem;
  --fs-large: 1.5rem;
  --fs-x-large: 1.75rem;

  /* FONT WEIGHTS */
  --fw-400: 400;
  --fw-700: 700;
}
